doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title About me
link(rel='stylesheet' type='text/css' href='/css/style.css')

header#home
  ul
    li
      a.active(href='/') Home
    li
      a(href='/about') About
    li
      a(href='/work') My Work
    li
      a(href='/contact') Contact


//about me
section#about.introduction-section
  .container
    h1#home Introduction
    p
      | Hello, My name is Marvin, and i am a 
      strong Starting Developer
      |  and currently an student at 
      a(href='https://www.emilygriffith.edu/') Emily Griffith Technical College.
    p
      | I think it&apos;s important to help make the internet a 
      strong helpful place
      | , whether that be through
      |         words, nusic, or web design, and I&apos;m excited to have found a community at 
      a(href='https://www.freecodecamp.org/') Free Code Camp
      |  that shares my belief.
    p
      | I also think it&apos;s important to push yourself and 
      strong learn
      |  one new thing every day, no matter what
      |         that may be.
section#about.location-section
  .container
    h1 Where I&apos;m From
    p
      | I&apos;m from the city of Denver here in Colorado. A beautiful place to call 
      strong home
      | .
    p
      | I&apos;ve been living in Denver for about five to six years, I&apos;ve met some great people and places around the city. I
      | honestly do not regret coming here.

//More section
section#more.questions-section
  .container
    h1 More About Me
    h2 What are your favorite hobbies?
    p
      | I love beign outside on the fresh air, I enjoy playing soccer a lot which is always fun to do with my friends,
      | I also enjoy walking my dog, and of course coding and learning new thins are what make me happy. I like to
      | challenge my self every day with new things and new begginings.
    h2 What&apos;s your dream job?
    p
      | My dream job is becoming a professional 
      strong Designer/Developer
      |  so I can help people get their
      |         websites, apps, ect. I want to use my experience and future knowledge to help myself build a great career and
      |         hopefully one day run and design my own company to allow other coders to be able to create and learn.
    h2 What is my to go Music?
    p
      | My favorite type of music has to be Latin, everything from corridos, bachata, banda, regaeton, ect. My family
      | is from Mexico so I love my culture.