doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title My Work
  link(rel='stylesheet', href='/css/style.css', type='text/css' )

header#home
  ul
    li
      a.active(href='/') Home
    li
      a(href='/about') About
    li
      a(href='/work') My Work
    li
      a(href='/contact') Contact

br 
br

block content
.card
  img(src='images/trivia.png' alt='trivia game' style='width:100%')
  .container.cont
    h4
      b Trivia Game
    p Basic &amp; Simple trivia game! 
    | Find the source  
    a(hrfe='https://github.com/Marvoro53/JS-Trivia-Game') here

.card
  img(src='images/myDenver.png' alt='myDenver project' style='width:100%')
  .container.cont
    h4
      b My Denver Project
    p Blog &amp; Informational 
    | Find the source 
    a(href="https://github.com/Marvoro53/Final.Project") here 
.card
  img(src='imgages/stoplight.png' alt='StopLight exercise' style='width:100%')
  .container.cont
    h4
      b StopLight exercise
    p Simple &amp; Basic
    | Find the source 
    a(href="https://github.com/Marvoro53/stoplight") here 